{% extends "layout.html" %}

{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link">Error <span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block body %}
<div class="container rounded mt-5 mb-5">
    <div class="row">
        <div class="col m-3">
            <h1>Error</h1>
            <h4>Sorry, an internal error has occured. <br>
                Please try again later.
            </h4>
        </div>
    </div>
    <div class="row header">
        <div class="col m-3">
            <img src="../static/img/error500.png" width=30%>
        </div>
    </div>
</div>
{% endblock %}